{% load static %}
<!DOCTYPE html>

<html lan = "en">
    <head>
        <meta charset = "UFT-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name = "viweport" content="width=device-width, initial-scale=1.0" />
        <title> Register Page</title>
        <link href="{% static 'css/rstyles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <section class="container">
            <header>Register </header>
            <form action = "register" method="post" class="form">
                {% csrf_token %}
                <div class="input-box">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter Username" required/>
                </div>
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password" required/>
                </div>

                <div class="input-box">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" placeholder="confirm password" required/>
                </div>
                {% for msg in messages %}
                <h4>{{msg}}</h4>
                {% endfor %}
                <button>Submit</button>
            </form>

        </section>
    </body>
</html>